<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <section>
    <h1>posepointer.js</h1>
    <p>
      <label for="demo-selector">Demo Selector:</label>
      <select id="demo-selector" name="demo-selector">
        <option value="oneliner">One Liner: autostart, emit events, display face-tracked mouse for multiple people, displays debug info</option>
      </select>
    <div>
      <label>Code:</label>
      <pre>new require('posepointer')</pre>
      <label>or:</label>
      <pre>&lt;script src="./posepointer.js"&gt;&lt;/script&gt;</pre>
    </div>
  </section>
</body>
