<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <section>
    <h1>seeclark.js</h1>
    <p>
      <label for="demo-selector">Demo Selector:</label>
      <select id="demo-selector" name="demo-selector">
        <option value="oneliner">One Liner: autostart, emit events, display face-tracked mouse for one person, displays debug info</option>
      </select>
    <p id="seeclark-debug" style="position: relative"></p>
    <p>
      <label>HTML:</label>
      <pre>&lt;script src="./seeclark.js"&gt;&lt;/script&gt;
&lt;script&gt;new SeeClark({autostart: true})&lt;/script&gt;</pre>
    <p>
      <label><small>or</small> Node:</label>
      <pre>new (require('seeclark'))({autostart: true})</pre>
  </section>
</body>
