<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" type="image/png" href="/assets/img/oz.png">
</head>
<body>
  <div id="pointer"></div>
  <div id="pointer-depth-circle"></div>

  <section>
    <h1 style="text-align: center">
      <img src="/assets/img/readme-title.png" alt="SeeClarke.js" width=350>
    </h1>
    <p>
      <label for="demo-selector">Demo Selector:</label>
      <select id="demo-selector" name="demo-selector">
        <option value="oneliner">One Liner: autostart, emit events, display face-tracked mouse for one person, displays debug info</option>
      </select>
    <p id="seeclarke-debug" style="position: relative"></p>
    <p>
      <label><small>in</small> HTML:</label>
      <pre>&lt;script src="./seeclarke.js?autostart=true"&gt;&lt;/script&gt;</pre>
    <p>
      <label><small>or in</small> Node:</label>
      <pre>new (require('seeclarke'))({autostart: true})</pre>
  </section>
</body>
