// Variables
$colorMain: #444466;
$marginMain: 20px;
$marginSmall: $marginMain / 2;
$marginBig: $marginMain * 2.5;
$paddingMain: 20px;
$paddingSmall: $paddingMain / 2;
$fontSizeMain: 1.2em;
$fontSizeSmall: 0.75em;

// Basic styles
*, *:before, *:after { box-sizing: inherit }

body {
  font-size: $fontSizeMain;
  line-height: 1.5em;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 20px;
  color: $colorMain;
}

h1 {
  margin: 0;
  margin-bottom: $marginBig;
}

label {
  margin: 0;
  margin-bottom: $marginSmall;
}

p {
  margin: $marginBig 0;
}

pre {
  background: #fafafa;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  padding: $paddingMain;
  overflow: auto;
}

section {
  width: 600 + $paddingMain * 2;
  max-width: 100%;
  padding: $paddingMain;
  margin: $marginMain * 2 auto;
}

select {
  width: 100%;
  font-size: $fontSizeSmall;
  padding: $paddingSmall;
  margin: $marginMain 0;
  color: $colorMain;
}

#pointer, #pointer-depth-circle {
  position: fixed;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background: red;
  display: none;
  z-index: 999999;
  margin-left: -10px;
  margin-top: -10px;
}

#pointer-depth-circle {
  background: none;
  border: 5px dashed green;
}
